<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.MeetingMapper">
    <resultMap id="BaseResultMap" type="com.exam.model.entity.Meeting">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="meetingCode" column="meetingCode" jdbcType="VARCHAR"/>
        <result property="typeId" column="typeId" jdbcType="BIGINT"/>
        <result property="roomId" column="roomId" jdbcType="BIGINT"/>
        <result property="startTime" column="startTime" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="endTime" jdbcType="TIMESTAMP"/>
        <result property="organizerId" column="creatorId" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,title,description,meetingCode,typeId,roomId,startTime,endTime,creatorId,status,createTime,updateTime,isDelete
    </sql>
</mapper>
